<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SO Reputation Estimator</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=f6dc2e55f461">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=51d616a70c7c">
    <link rel="stylesheet" type="text/css" href="static/pyso.css">
</head>
<body>
<div class="header">
    <img src="static/logo.png" alt="logo"/>
    <h1>Stack Overflow Reputation Estimator</h1>
</div>
{% block content %}
{% endblock %}
<div>
    <p class="love">Made with <span style="color: #e25555;">&hearts;</span>
        by <a href="http://collab.di.uniba.it/fabio/">Collab</a> -
        Available on <a href="https://github.com/collab-uniba/pySOreputation">
            <img src="static/gh-logo.png" height="16" width="16"/>
        </a>
    </p>
</div>
</body>
</html>
